<?xml version="1.0" encoding="utf-8" ?>
  <SSRSMigrate.IntegrationTests.Properties.Settings>
    <setting name="ReportServer2008WebServiceUrl" serializeAs="String">
      <value>http://localhost/reportserver/reportservice2005.asmx</value>
    </setting>
    <setting name="ReportServer2008R2WebServiceUrl" serializeAs="String">
      <value>http://localhost/reportserver/reportservice2010.asmx</value>
    </setting>
    <setting name="SourcePath" serializeAs="String">
      <value>/SSRSMigrate_AW_Tests</value>
    </setting>
  </SSRSMigrate.IntegrationTests.Properties.Settings>
