<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSRSMigrate.IntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SSRSMigrate.IntegrationTests.Properties.Settings>
            <setting name="ReportServer2008WebServiceUrl" serializeAs="String">
                <value>http://localhost/reportserver_sql2008/reportservice2005.asmx</value>
            </setting>
            <setting name="ReportServer2008R2WebServiceUrl" serializeAs="String">
                <value>http://localhost/reportserver/reportservice2010.asmx</value>
            </setting>
            <setting name="SourcePath" serializeAs="String">
                <value>/SSRSMigrate_Tests</value>
            </setting>
        </SSRSMigrate.IntegrationTests.Properties.Settings>
    </userSettings>
</configuration>