<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSRSMigrate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSRSMigrate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SSRSMigrate.Properties.Settings>
            <setting name="SSRSMigrate_ReportServer2005_ReportingService2005"
                serializeAs="String">
                <value>http://localhost:80/ReportServer/ReportService2005.asmx</value>
            </setting>
            <setting name="SSRSMigrate_ReportServer2010_ReportingService2010"
                serializeAs="String">
                <value>http://localhost:80/ReportServer/ReportService2010.asmx</value>
            </setting>
        </SSRSMigrate.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SSRSMigrate.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SrcWebServiceUrl" serializeAs="String">
                <value>http://localhost/ReportServer</value>
            </setting>
            <setting name="SrcVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="SrcDefaultCred" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SrcUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SrcPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SrcDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="SrcPath" serializeAs="String">
                <value>/SSRSMigrate_AW_Tests</value>
            </setting>
            <setting name="DestWebServiceUrl" serializeAs="String">
                <value>http://localhost/ReportServer</value>
            </setting>
            <setting name="DestVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="DestDefaultCred" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DestUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DestPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DestDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="DestPath" serializeAs="String">
                <value>/SSRSMigrate_Dest</value>
            </setting>
            <setting name="MigrationMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImportZipFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportZipUnpackDir" serializeAs="String">
                <value />
            </setting>
        </SSRSMigrate.Properties.Settings>
    </userSettings>
  <log4net>
    <!--<root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>-->

    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="SSRSMigrate.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="WARN" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd hh:mm:ss} %-5level [ %logger ] %message%newline" />
      </layout>
    </appender>

    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SSRSMigrateErrors.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd hh:mm:ss} %-5level [ %logger ] %message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>